<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Infoscreen</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Weather Icons -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css">
</head>

<body class="bg-slate-900 text-white font-sans h-screen overflow-hidden">

<div class="p-16 grid grid-cols-3 gap-8 w-full">

    <!-- CURRENT -->
    <div class="text-7xl pb-4 self-center text-end opacity-70">Aktuelles Wetter:</div>

    <div id="current"></div>

    <div id="current-time"
         class="text-6xl opacity-70 mt-2 self-center text-end"></div>

    <!-- FORECAST -->
    <div id="forecast" class="flex gap-6 mt-10 col-span-full"></div>

</div>

<!-- JS auslagern -->
<script src="/static/js/dashboard.js"></script>

</body>
</html>
