<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Infoscreen</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Weather Icons -->
    <link rel="stylesheet" href="/static/css/weather-icons.min.css">
    <link rel="stylesheet" href="/static/css/weather-icons-wind.min.css">
</head>

<body class="bg-slate-900 text-white font-sans h-screen xl:overflow-hidden">

<div class="p-16 grid grid-cols-2 xl:rid-cols-3 gap-8 w-full">

    <!-- CURRENT -->
    <div class="text-7xl pb-4 self-center text-end xl:text-center opacity-70 xl:col-span-full">Aktuelles Wetter:</div>

    <div id="current"></div>

    <div id="current-time"
         class="text-6xl opacity-70 mt-2 self-center text-end"></div>

    <!-- FORECAST -->
    <div id="forecast" class="flex flex-col xl:flex-row gap-6 mt-10 col-span-full"></div>

    <div id="modal" class="fixed hidden flex inset-0 items-center justify-center bg-black/50 z-50">
        <div id="modal-Content"></div>
    </div>

</div>

<!-- JS auslagern -->
<script src="/static/js/dashboard.js?v=9"></script>

</body>
</html>
